@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-font-smoothing: antialiased; /* for safari & chrome */
  -moz-osx-font-smoothing: grayscale; /* for firefox */
}

p {
  margin-top: 0.5rem;
  /* 8px */
  margin-bottom: 0.5rem;
  /* 8px */
}
